.button {
all: unset;

display: flex;
justify-content: center;
align-items: center;

padding: 20px 35px;
border-radius: 15px;

cursor: pointer;
white-space: nowrap;

transition: var(--anim);

&__text {
display: block;
color: var(--bg-main);

font-size: 16px;
line-height: 1;
}

&__black {
background-color: var(--text-third);
}

&__grey {
    background-color: var(--text-footer);
}

&__white {
    background-color: var(--bg-main);

&__text {
        color: var(--text-third);
    }}

&:hover, &:focus {

filter: invert(25%);

transition: var(--anim);
}
}