.top__swiper {
}

.top__wrapper {}

.top_favorite {}

.top__favorite--icon {}

.top__image {}

.top__content {}

.top__title {}

.top__whom {}

.top__colors {}

.top__paragraph {}

.swiper-pagination {
    gap: 10px;
    bottom: -8px !important;

    &-bullet {
        background-color: var(--text-footer);

        border-radius: 1.5px;
        height: 3px;
        width: 15px;

        transition: var(--anim);

        &-active {
            pointer-events: none;

            background-color: var(--text-placeholder);
        }

        &:hover,
        &:focus {
            background-color: var(--text-placeholder);

            transition: var(--anim);
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--bg-main);

    transition: var(--anim);

    &:hover,
    &:focus {
        color: var(--text-placeholder);

        transition: var(--anim);
    }
}