.news__section {
    display: flex;
        align-items: center;

padding: 20px 98px 80px 98px;

height: 381px;
}

.news__image {
width: 570px;
height: 371px;
object-fit: cover;
}

.news__content {

}

.news__title {
font-size: 38px;
line-height: 1.316;

margin-bottom: 30px;}

.news__paragraph {
font-size: 16px;
line-height: 1.5;

margin-bottom: 40px;
}

