html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;

    color: var(--text-main);
    background-color: var(--bg-main);

    margin: 0;
}

.section {
width: 100vw;
}
