h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--text-placeholder);

    transition: color var(--anim);
  }
}
